body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url('images/smcc.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav {
    background-color: rgb(7, 7, 82);
}

nav ul li a {
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.4s;
    margin-left: 50px;
}

nav ul li a:hover {
    color: gold;
}

.display-1 {
    text-shadow: 4px 4px 2px gold;
    text-align: center;
    color: rgb(7, 7, 82);
    padding: 0 5px;
}

.display-4 {
    color: rgb(7, 7, 82);
    text-shadow: -1px 0 gold, 0 2px gold, 2px 0 gold, 0 -1px gold;
}

p {
    text-align: justify;
}

main {
    text-align: center;
    position: relative;
    background-attachment: fixed;
    background-image: url(images/smccblur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



section {
    background-color: #05053bf5;
    border-radius: 15px;
    padding: 30px;
    width: 70%;
    margin: 50px auto;
    color: white;
}

table {
    border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
}

table tr {
    border-bottom: 1px solid #f8f8f8;
}

table tr td {
    text-align: center;
    padding: 20px .625em .625em .625em;
    text-align: left;
    font-size: 13px;
}

section a {
    font-size: 15px;
    text-decoration: none;
    color: white;
}

section a:hover{
    color: gold;
}

#contactsec img {
    vertical-align: middle;
}

#contactsec figure a,
#contactsec figure {
    font-size: 14px;
    text-decoration: none;
    color: white;
}

#butt {
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    padding: 3px 5px;
    text-align: center;
    transition: 200ms;
    width: auto;
    font-size: 12px;
}

#butt:hover {
    width: auto;
    outline: 0;
    background: gold;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.nav-link {
    display: inline-block;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gold;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}



@media only screen and (max-width: 980px) {
    td {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        width: 120px;
        font-size: 13px;
    }

    #nc {
        text-align: center;
    }

    nav ul li a{
        margin-left: 20px;
    }
}

@media only screen and (max-width: 850px) {
    nav ul li a{
        margin-left: 2px;
    }
}

@media only screen and (max-width: 1150px) {
    #cbm td {
        white-space: wrap;
    }
    
}

@media only screen and (max-width: 600px) {
    td {
        white-space: wrap;
    }
}
